<div id="loader-wrapper" class="hidden">
  <div id="loader">
      <img src="/images/assets/preloader.gif">
      <h5 style="color: #00CCE7">Processing payment...</h5>
  </div>
</div>

<div class="container">
    <div class="row">
        <div id="charge-error" class="alert alert-danger hidden"></div>
            <form action="/checkout" method="post" id="checkout-form">
                <div class="col-sm-6 col-md-4">
                    <h2>Shipping address</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="address1">Address Line 1</label>
                                <input type="text" id="address1" name="address1" class="form-control" value="{{address1}}" required>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="address2">Address Line 2</label>
                                <input type="text" id="address2" name="address2" class="form-control" value="{{address2}}">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" class="form-control" value="{{city}}" required>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="postalCode">Postal Code</label>
                                <input type="text" id="postalCode" name="postalCode" class="form-control" value="{{postalCode}}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>Payment details</h2>
                    {{# if hasExistingCard}}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="radioPayment" id="radioUseExisting" value="useExisting" checked>
                                    Use existing payment method
                                    <p style="font-weight:normal;">{{user.stripeCardBrand}} ending with {{user.stripeCardLastFour}}</p>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="radioPayment" id="radioEnterNew" value="useNewPayment">
                                    Enter new payment details
                                  </label>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div id="noExistingCard" class="hidden">y</div>
                    {{/if}}
                    <div id="paymentDetailForm" class="row hidden">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="card-name">Card Holder Name</label>
                                <input type="text" id="card-name" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="card-number">Credit Card Number</label>
                                <input type="text" id="card-number" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="card-expiry-month">Expiration Month</label>
                                        <input type="text" id="card-expiry-month" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="card-expiry-year">Expiration Year</label>
                                        <input type="text" id="card-expiry-year" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="card-cvc">CVC</label>
                                <input type="text" id="card-cvc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="well">
                        <h4>Review your order</h4>
                        <table class="table">
                            {{# each cart.items }}
                            <tr>
                                <td><a href="/product/{{this.item._id}}" style="text-decoration: none;">{{this.item.title}}</a></td>
                                <td>{{this.quantity}}</td>
                            </tr>
                            {{/each}}
                        </table>
                        <table class="table">
                            <tr>
                                <td>Sub Total</td>
                                <td>${{cart.totalPrice}}</td>
                            </tr>
                            <tr>
                                <td>Shipping</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td class="" style="font-weight:bold;">Total</td>
                                <td class="" style="font-weight:bold;">${{cart.totalPrice}}</td>
                            </tr>
                        </table>

                        <div class="row">
                            <button type="submit" class="col-md-6 col-md-offset-3 btn btn-success">Place Order</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        if($("#noExistingCard").text() == "y"){
            $("#card-name").prop('required', true);
            $("#card-number").prop('required', true);
            $("#card-expiry-month").prop('required', true);
            $("#card-expiry-year").prop('required', true);
            $("#card-cvc").prop('required', true);

            $('#paymentDetailForm').removeClass('hidden');
        }

        $("#radioUseExisting").click(function(){
            $("#card-name").prop('required', false);
            $("#card-number").prop('required', false);
            $("#card-expiry-month").prop('required', false);
            $("#card-expiry-year").prop('required', false);
            $("#card-cvc").prop('required', false);

            $('#paymentDetailForm').addClass('hidden');
        });
        $("#radioEnterNew").click(function(){
            $("#card-name").prop('required', true);
            $("#card-number").prop('required', true);
            $("#card-expiry-month").prop('required', true);
            $("#card-expiry-year").prop('required', true);
            $("#card-cvc").prop('required', true);

            $('#paymentDetailForm').removeClass('hidden');
        });
    });


</script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>
