<div class="container">
    <div class="row">
        <h1>My Profile</h1>
        <hr>
        <div class="col-xs-12 col-md-6">
            <h3>Account details</h3>
                <div class="well">
                    <label>Full Name:</label>
                    <p>{{user.fullName}}</p>
                    <label>Email Address:</label>
                    <p>{{user.email}}</p>
                </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Shipping Address <button type="button" id="editAddress" class="btn btn-primary btn-sm">Edit</button></h3>
                <div id="editAddressDisplay" class="well hidden">
                    <form action="/editShippingAddress" method="post">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="address1">Address Line 1</label>
                                    <input type="text" id="address1" name="address1" class="form-control" value="{{shipping.address1}}" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="address2">Address Line 2</label>
                                    <input type="text" id="address2" name="address2" class="form-control" value="{{shipping.address2}}">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" id="city" name="city" class="form-control" value="{{shipping.city}}" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="postalCode">Postal Code</label>
                                    <input type="text" id="postalCode" name="postalCode" class="form-control" value="{{shipping.postalCode}}" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Save Changes</button>
                                    <button type="button" class="btn btn-default" id="cancelEdit">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {{# if shipping}}
                <div id="shippingAddressDisplay" class="well">
                    <p>{{shipping.address1}}</p>
                    <p>{{shipping.address2}}</p>
                    <p>{{shipping.city}}</p>
                    <p>{{shipping.postalCode}}</p>
                </div>
            {{else}}
                You have no shipping address information stored.<br>
                Press the 'Edit' button to add your address.
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Stripe Connect</h3>
                {{# if user.stripeUserId}}
                    <div class="well">
                        <label>Connected to Stripe!</label>
                        <p>You can now start selling your products!<br>Payment will be made directly to your Stripe account.</p>
                        <div>
                            <a href="/sell" class="btn btn-success">Sell a product</a>
                            <a href="/stripe/disconnect" id="disconnectStripe" class="btn btn-danger">Disconnect</a>
                        </div>
                    </div>
                {{else}}
                    <div class="well">
                        <label>Connect to Stripe to start selling!</label>
                        <p>We use Stripe Payment Gateway to handle your transactions.</p>
                        <p><a href="/stripe/connect" class="btn btn-success">Connect to Stripe</a></p>
                    </div>
                {{/if}}
        </div>
    </div>
</div>

<script>
  $("#editAddress").click(function(e){
    $("#shippingAddressDisplay").addClass('hidden');
    $("#editAddressDisplay").removeClass('hidden');
  });

  $("#cancelEdit").click(function(e){
    $("#editAddressDisplay").addClass('hidden');
    $("#shippingAddressDisplay").removeClass('hidden');
  });

  $("#disconnectStripe").click(function(e) {
    e.preventDefault();
    var targetUrl = $(this).attr("href");

    if (confirm("Are you sure you wish to disconnect from Stripe?")) {
        window.location.href = targetUrl;
    }
  });
</script>
